jobs:
  build:
    runs-on: ubuntu-24.04 # o ubuntu-latest
    steps:
      - name: Instalar dependencias del sistema
        run: |
          sudo apt-get update
          sudo apt-get install -y libaio1t64  # <--- Esta es la solución para Ubuntu 24.04
          
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # Aquí instalarías el Instant Client de Linux y configurarías 
      # LD_LIBRARY_PATH para que oracledb lo encuentre.
